<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs',{css: [ "index","footer", "header"]}) %> 

    </head>
       
  

<body>
    
    <%- include('../partials/header.ejs') %>
 
    <!--MAIN-->
    <main>
        
        <section class="productos-destacados">
            <h2 class="destacados">Nuestros Productos</h2>
            <section class="grid-destacados">
                                
                <% for(i=0;i<products.length;i++){ %>
                <article class="producto">
                    <h3><%=products[i].name%></h3>
                    <figure><a href="/products/<%=products[i].id%>"><img src="/img/products/<%=products[i].image%>" alt="<%=products[i].name%>"></a></figure>
                    <section class="detalle-producto">
                        <p> <span id="description"></span><%=products[i].name %></p>
                        <p> <span id="dolar">$ <%=products[i].price %></span></p>
                        <p> <span id="category">Producto para <%=products[i].type%></span> </p>
                        <form id="agregar-carrito" action="products/productCart" method="GET">
                            <button id="button-agregar" type="submit">AGREGAR AL CARRITO</button>
                        </form>
                    </section>
                </article>
                <% }%>
                
            
            </section>
            <% if(usuario){ %>
                <%if(usuario.admin){ %>

            <section id="button-crear">
                <button id="crear-producto"><a href="/products/create/">AGREGAR UN PRODUCTO</a></button>
            </section>
            <%}}%>
        
        </section>
        
      </main>  


    <!--FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>