<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs',{css: [ "productCreateModify","footer", "header","general"]}) %> 
    
    <title>Create</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main id="formCreate">
        <h1 class="titulo-create-modify">INGRESE UN NUEVO PRODUCTO</h1>

        <div class="productCreateModify">
            <ul class="errores"></ul>

            <form id="abmProduct" action="/products/save" method="POST" enctype="multipart/form-data">
                
                <fieldset id="datos">
                    <fieldset id="datos1">
    
                        <fieldset class=nombreProducto>
                            <label for="nombreProducto">Nombre del Producto: </label>
                            <input type="text" name="name" id="nombreProducto">
                            <% if(locals.errors && errors.name) { %>
                                <p class="msg-error"><%= errors.name.msg %></p>
                            <% } %>
                        </fieldset>
                    
                        <fieldset class="descripcionProducto">
                            <label for="descripcionProducto">Descripcion del Producto: </label>
                            <input type="text" name="description"  id="descripcionProducto">
                            <% if(locals.errors && errors.description) { %>
                                <p class="msg-error"><%= errors.description.msg %></p>
                            <% } %>
                        </fieldset>
                    
                    
                        <fieldset class="precioProducto">
                            <label for="precioProducto">Precio: </label>
                            <input type="number" name="price"  id="precioProducto" >
                            <% if(locals.errors && errors.price) { %>
                                <p class="msg-error"><%= errors.price.msg %></p>
                            <% } %>
                        </fieldset>
                    </fieldset>    

                    <fieldset id="datos2">
                        <fieldset class="imagenProducto">
                            <label for="imagenProducto">Imagen: </label>
                            <input type="file" name="image"  id="imagenProducto">
                            <% if(locals.errors && errors.image) { %>
                                <p class="msg-error"><%= errors.image.msg %></p>
                            <% } %>
                        </fieldset>

                        <fieldset class="tipoProducto">
                            <label for="type">Tipo: </label>
                                    <select name="type_id" id="type">
                                        <option value="">Elegí una opción</option>
                                        <% tipos.forEach(tipo => { %>
                                            <option value="<%=tipo.id%>">
                                                <%=tipo.name%>
                                            </option>
                                        <% }) %>
                                    </select>
                                    <% if(locals.errors && errors.type_id) { %>
                                        <p class="msg-error"><%= errors.type_id.msg %></p>
                                    <% } %>
                        </fieldset>
                    
                        <fieldset class="categoriaProducto">
                            <label for="category">Categoría</label>
                                <select name="category_id" id="category">
                                    <option value="">Elegí una opción</option>
                                    <% categorias.forEach(cat => { %>
                                        <option value="<%=cat.id%>">
                                            <%=cat.name%>
                                        </option>
                                    <% }) %>
                                    
                                </select>
                                <% if(locals.errors && errors.category_id) { %>
                                    <p class="msg-error"><%= errors.category_id.msg %></p>
                                <% } %>
                        </fieldset>

                        <fieldset class="destacado">
                            <label for="destacado">Destacado</label>
                            <label><input type="radio" name="destacado" value=true> Si </label>
                            <input type="radio" name="destacado" value=false>
                        </fieldset>
                    </fieldset>
                </fieldset>
            
                <fieldset class="buttons">
                    <button id="cancel-create" type="reset">Cancelar</button>
                    <button id="accept-create" type="submit">Guardar</button>
                </fieldset>
            
            
            </form>
        </div>
    
    </main>
        <%- include('../partials/footer.ejs') %>

        <script src="/js/validaProducto.js"></script>
    
</body>
</html>