<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs',{css: [ "index","footer", "header"]}) %> 

    </head>
       
  

<body>
    
    <%- include('../partials/header.ejs') %>
 
    <!--MAIN-->
    <main>
        <a href="/products/create/">crear un producto</a>
        <section class="productos-destacados">
            <h2 class="destacados">Nuestros Productos</h2>
            <section class="grid-destacados">
                
                <% for(i=0;i<products.length;i++){ %>
                <article class="producto">
                    <h3><%=products[i].name%></h3>
                    <a href="/products/<%=products[i].id%>"><img src="../img/<%=products[i].image%>" alt="<%=products[i].name%>"></a>
                    <section class="detalle-producto">
                        <p> <span id="description"></span><%=products[i].name %></p>
                        <p> <span id="dolar"></span><%=products[i].price %></p>
                        <p> <span id="category"><%=products[i].category %></span> </p>
                        <form id="agregar-carrito" action="products/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </article>
                <% }%>

            
            </section>
        </section>
        


    <!--FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>