<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs',{css: [ "productCreateModify","footer", "header"]}) %> 
    
    <title>Modify</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

<main id="formModify">
    <h1 class="titulo-create-modify"> EDICIÓN DE UN PRODUCTO</h1>

    <div class="productCreateModify">

        <ul class="errores"></ul>
        <form id="abmProduct" action="/products/update/<%=product.id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
            <fieldset id="datos">
                <fieldset id="datos1">
            
                    <fieldset class=nombreProducto>
                        <label for="nombreProducto">Nombre del Producto:</label>
                        <input type="text" name="name"  id="nombreProducto" placeholder="<%=product.name%>">
                    </fieldset>
                
                    <fieldset class="descripcionProducto">
                        <label for="descripcionProducto">Descripcion del Producto: </label>
                        <input type="text" name="description"  id="descripcionProducto" placeholder="<%=product.description%>">
                    </fieldset>

                    <fieldset class="precioProducto">
                        <label for="precioProducto">Precio: </label>
                        <input type="number" name="price"  id="precioProducto" >
                    </fieldset>
                </fieldset>

                <fieldset id="datos2">
                    <fieldset class="imagenProducto">
                        <label for="imagenProducto">Imagen: </label>
                        <input type="file" name="image"  id="imagenProducto">
                    </fieldset>
                
                    <fieldset class="tipoProducto">
                        <label for="tipo">Tipo: </label>
                                <select name="type" id="type">
                                    <option value="">Elegí una opción</option>
                                    <% tipos.forEach(tipo => { %>
                                        <option value="<%=tipo.id%>" <% if (product.type_id == tipo.id){ %> <%= 'selected' %> <% }; %>>
                                            <%=tipo.name%>
                                        </option>
                                    <% }) %>
                                </select>
                    </fieldset>
                
                    <fieldset class="categoriaProducto">
                        <label for="categoriaProducto">Categoría</label>
                            <select name="category" id="category">
                                <option value="">Elegí una opción</option>
                                <% categorias.forEach(cat => { %>
                                    <option value="<%=cat.id%>" <% if (product.category_id == cat.id){ %> <%= 'selected' %> <% }; %>>
                                        <%=cat.name%>
                                    </option>
                                <% }) %>
                                
                            </select>
                    </fieldset>

                    <fieldset class="destacado">
                        <label for="destacado">Destacado</label>
                        <label><input type="radio" name="destacado" value="true"> Si </label>
                        <input type="radio" name="destacado" value="false"> No
                    </fieldset>
                    
                </fieldset>
            </fieldset>

        
            <fieldset class="buttons">
                <button id="cancel-modify" type="reset">Cancelar</button>
                <button id="accept-modify" type="submit">Guardar</button>
            </fieldset>
        </form>
    </div>

</main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/validaEdicion.js"></script>
    
</body>
</html>