<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs',{css: [ "index","footer", "header", "general"]}) %> 

    </head>
       
  

<body>
    
    <%- include('./partials/header.ejs') %>
 
    <!--MAIN-->
    <main>
        <section class="productos-destacados">
            
            <h2 class="destacados">DESTACADOS</h2>
            <section class="grid-destacados">
                <% for(i=0;i<products.length;i++){ %>
                <article class="producto">
                    
                    <figure><a href="/products/<%=products[i].id%>"><img src="/img/products/<%=products[i].image%>" alt="<%=products[i].name%>"></a></figure>
                    <section class="detalle-producto">
                        <p><%=products[i].name%></p>
                        <p> <span id="dolar">$ <%=products[i].price%></span></p>
                        
                        <% if(usuario){ %>
                            <%if(usuario.admin){ %>
                                <div class="botones-editar-eliminar">
                                    <a href="/products/edit/<%=products[i].id %>" id="button-editar">EDITAR</a>
                                        <form action="/products/delete/<%=products[i].id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                            <button type="submit" id="button-eliminar">ELIMINAR</button>
                                        </form>
                                </div>
                            <%}else{ %>
                                <form id="agregar-carrito" action="products/productCart" method="GET">
                                    <button id="button-agregar" type="submit">AGREGAR AL CARRITO</button>
                                </form>
                            <% } %>
                            <%}else{%>

                        <form id="agregar-carrito" action="products/productCart" method="GET">
                            <button id="button-agregar" type="submit">AGREGAR AL CARRITO</button>
                        </form>
                        <%} %>

                    </section>
                </article>
                <%}%>
            
            </section>
        </section>
        

        <section class="nuestros-productos">
            <h2 class="nuestros">Nuestros Productos</h2>
            
            <section class="grid-productos">
                <article class="perros">
                        <a href="/products/category/perros"><img src="../img/dog.jpg"></a>
                        <h4>PERROS</h4>
                        <!--<img src="../img/dog.jpg" alt="Perros">-->
                </article>

                <article class="gatos">
                    
                    <a href="/products/category/gatos"><img src="../img/cat.png"></a>
                    <h4>GATOS</h4>

                </article>
            </section>

        </section>
    </main>

    <!--FOOTER -->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>