<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('../partials/head.ejs',{css: ["footer","header","perfil"]}); %> 
    <title>Perfil</title>
</head>
<body>
        <!--HEADER-->
    
        <%- include('../partials/header.ejs') %>

        <!--MAIN-->
        <main id= "profile">
    
                
                          <h1 id="titulo">MI PERFIL</h1>
        
                          <div class="perfil-contenedor">
                              <form id="mi-perfil" action="/user/update?method=PUT" method="POST" enctype="multipart/form-data">
                                  
                                  <fieldset id="datos">
                                      <fieldset class="datos-perfil">
                                
                      
                                          <legend>BIENVENNIDO </legend>
    
                                          
                                          <fieldset class="datos">
                                            <!--<%=usuario.image"%>-->
                                        </fieldset>
                                         
                                      </fieldset>
                      
                                      <fieldset class="info-personal">
                                         
                                          <fieldset class="datos">
                                            <label class="label"for="email">Usuario <%=usuario.user%></label>
                                            
                                        </fieldset>
                    
                                        <fieldset class="datos">
                                            <label class="label" for="pass">Contraseña: </label>
                                            <input type="password" name="pass"  id="pass" >
                                        </fieldset>
                    
                                        <fieldset class="datos">
                                            <label class="label" for="new-pass">Nueva Contraseña: </label>
                                            <input type="password" name="new-pass"  id="new-pass" >
                                        </fieldset>
                                        
                      
                                      </fieldset>
                                  </fieldset>
                      
                                  <fieldset class="buttons">
                                    <button type="button" id="logout"><a href="/users/logout">Cerrar sesión</a></button>
                                      <button  type="submit" id="button-update">Modificar</button>
                                  </fieldset>
                                
                              
                              </form>
                      
                             
                      
                          </div>
                      
    
      
    
        
        </main>
    
    
    <!--FOOTER-->    
    <footer class="footer">
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>